* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url(resources/images/poker_table3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: floralwhite;
}
.MainContainer{
    margin-left: 3%;
    margin-right: 3%;
}
#title{
    text-align: center;
    font-size: 60px;
    padding-top: 20px
}

.Card {
    width: 70px;
    height: 105px;
    display: inline-flex;
    padding-top: 30px;
}

.Card img{
    width: 70px;
    height:105px;
}
.Score{
    padding-top: 35px;
    font-size: 50px;
    font-weight: 600;
}
.Dealer{
    width: 50%;
    float: left;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

.Player{
    width: 50%;
    float: left;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}
.active .player-name::after{
    content: "\22C6";
    position: absolute;
    margin-left: 5px;
}

.NewGameBtnContainer{
    text-align: center;
    margin-top: 50px;
}
.DealBtnContainer{
    position: relative;
    text-align: center;
}
.PlayBtnContainer{
    text-align: center;
    display: flex;
    width: 20%;
    float:right;
    margin-right: 16%;
}
#dealBtn{
    padding-top: 100px;
}
button{
    width: 50%;
    height: 50px;
    color: floralwhite;
    background: none;
    border: none;
    font-size: 20px;
}
button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus { outline: none; }

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}